{% extends "base.twig" %}

{% block banner %}
	{% include 'views/banner-single.twig' %}
{% endblock %}

{% block content %}
	<div class="row">
		Sorry, we couldn't find what you're looking for.
	</div>
{% endblock %}