<div class="footer-address">
    <div>
        <div class="col-md-12">
        {% if options|length > 0 %}
                {% for branch in options %}
                       <div class="{% if loop.index == 1 %} col-md-offset-1 {% endif %}col-md-2 col-sm-6 col-xs-12">
                            <address>
                                <strong class="company">{{ branch.heading }} {{ branch.sub_heading }}</strong><br>
                                {{ branch.address }} <br>
                                {% if branch.phone %}
                                    <abbr title="Phone">P:</abbr> {{ branch.phone }}
                                {% endif %}

                                {% if branch.email %}
                                  <a href="mailto:{{ branch.email }}" target="_blank">
                                    {{ branch.email }}
                                  </a>
                                {% endif %}

                                {% if branch.google_map_url %}
                                  <a href="{{ branch.google_map_url }}" target="_blank">
                                    View Map
                                  </a>
                                {% endif %}
                            </address>
                        </div>
                {% endfor %}
            {% else %}
                No Branch Created
            {% endif %}
        </div>
    </div>
    <div>
        <div class="col-md-offset-1 col-md-4">
            <ul class="footer-links">
                {% for item in fmenu.get_items %}
                  <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                      {% if item.get_children %}
                          <ul class="nav-drop">
                              {% for child in item.get_children %}
                                  <li class="nav-drop-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                              {% endfor %}
                          </ul>
                      {% endif %}
                  </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-links footer-credits">
                <li><small>Made by:</small></li>
                <li>
                    <a class="nav-main-link" target="_blank" href="http://www.dgitup.com">Dgitup</a>
                </li>
                <li>
                    <a class="nav-main-link" target="_blank" href="http://celeritydigital.co.uk">Celerity Digital</a>
                </li>
                <li>
                    <a class="nav-main-link" target="_blank" href="http://www.practiceandtheory.com/">Practice &amp; Theory</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <img alt="yamamori logo" src="{{ site.theme.link }}/assets/images/yamamori_logo.svg" />
        </div>
    </div>
</div>

