{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="home.twig" >

	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>

	{% include 'views/navigation.twig' %}

	<!--==== Banner -->
	{% block banner %}
		{% include 'views/banner-home.twig' %}
	{% endblock %}

	<div style="clear:both;"></div>

	{% include 'views/modals.twig' %}

	{{ function('wp_footer') }}
	{% include 'html-scripts.twig' %}
	{% block scripts %}
	{% endblock %}


	<script type="text/javascript">
	if (document.querySelector( "#nav-toggle" )) {
		document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
		  this.classList.toggle( "active" );
		});
	}
	jQuery(document).ready(function($){
		$("#intro").backstretch("{{ site.theme.link }}/assets/images/banner.jpg");
	});
	</script>
	<style type="text/css">
		.ymenu{
			display: none;
		}
	</style>
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');

		fbq('init', '912165972171472');
		fbq('track', "PageView");
	</script>
	<noscript>
		<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=912165972171472&ev=PageView&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->
	</body>

</html>
