<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="{{site.charset}}" />
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/dvw7qui.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- Bootstrap core CSS -->
    <link href="{{site.theme.link}}/assets/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{site.theme.link}}/assets/js/modernizr.custom.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="{{site.theme.link}}/assets/css/magnific-popup.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">

    <link rel="pingback" href="{{site.pingback_url}}" />

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{global_option.google_analytics_id}}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.url}}/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.url}}/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.url}}/manifest.json">
    <link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg" color="#811808">
    <meta name="msapplication-TileColor" content="#811808">
    <meta name="msapplication-TileImage" content="{{site.url}}/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{function('wp_head')}}
