<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.theme.link }}/assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.theme.link }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.theme.link }}/assets/js/classie.js"></script>
<script src="{{ site.theme.link }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ site.theme.link }}/assets/js/scrollReveal.js"></script>
<script src="{{ site.theme.link }}/assets/js/jquery.scrollTo.js" defer="defer"></script>
<script src="{{ site.theme.link }}/assets/js/jquery.nav.js" defer="defer"></script>
<script src="{{ site.theme.link }}/assets/js/imagesloaded.pkgd.min.js" defer="defer"></script>
<script src="{{ site.theme.link }}/assets/js/isotope.min.js" defer="defer"></script>
<script src="{{ site.theme.link }}/assets/js/jquery.magnific-popup.min.js" defer="defer"></script>
<script src="{{ site.theme.link }}/assets/js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/segment-js/1.0.8/segment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script>
    new WOW().init();
</script>