{% extends "base.twig" %}

{% block banner %}
	{% include 'views/banner-single.twig' %}
{% endblock %}

{% block content %}
<div id="main-content-left">
	<div class="container-fluid" >
	    <div class="container">
	    	<div class="col-lg-8 col-md-8 col-ms-12 col-xs-12 overflow-cap">
    		 	{% if posts|length > 0 %}
		        	{% for post in posts %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}

					<nav id="pagination">
					  <ul class="pagination">
						<li>
							{% if pagination.prev %}
								<a href="{{pagination.prev.link}}" aria-label="Previous" class="{{pagination.prev.link|length ? '' : 'invisible'}}">&laquo;</a>
							{% endif %}
						</li>
						{% for page in pagination.pages %}
						<li>
							{% if page.link %}
								<a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
							{% else %}
								<span class="{{page.class}}">{{page.title}}</span>
							{% endif %}
						</li>
						{% endfor %}
						<li>
						  <a href="{{pagination.next.link}}"  aria-label="Next" class="next {{pagination.next.link|length ? '' : 'invisible'}}"><span aria-hidden="true">&raquo;</span></a>
						</li>
					  </ul>
					</nav>

				{% else %}
					<h2 class="red"> No post found, Please try again later </h2>
				{% endif  %}
	    	</div>

	    	{% include 'templates/sidebar-single.twig' %}

	    </div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {
		var referrer =  document.referrer;
		// console.log('refferrer: ' + referrer);
	});

    var maHeight = $('#single-cap').height();

    $('.item-content').height(maHeight-130);

    // console.log("cuurent height: " +maHeight);

    $('.item-content').matchHeight();
</script>
{% endblock %}