{% extends "base.twig" %}

{% block banner %}
	{% include 'views/banner.twig' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
	<div class="col-lg-9 col-md-9">
		<div class="post_content">
			{{ post.content }}
		</div>

		{% if menu_listing %}
		<div class="food-menu-headline">
			<span class="title"> Menu </span>
			<div class="pull-right">
				<span class="pright30"><span class="optionvg">G</span> Gluten Free </span>
				<span class="pright30"><span class="optionvg">V</span> Vegetarian </span>
			</div>
		</div>
		{% endif %}

		<ul class="menu-sections">
			{% for menu_section in menu_listing %}

				{% set first_index = loop.index %}
			    <li>
					<div class="list-box">
						<div class="menu-section-header" data-toggle="collapse" data-target="#{{ getstringslug(menu_section.get_field('section_title')) }}">{{ menu_section.get_field('section_title') }}</div>
						<div id='{{ getstringslug(menu_section.get_field('section_title')) }}' class="menu-content collapse {% if loop.index == 1 %} in {% endif %}">
							<div class="food">
								{% if menu_section.get_field('case_number_one')=="Multiple"  and  menu_section.get_field('case_number_two')=="Basic"%}

									{% for main_menu_item in menu_section.get_field('multi_level') %}

									    <div class="food-section-title" data-toggle="collapse" data-target="#section-{{ loop.index }}">{{ main_menu_item.title }}


									    </div>

									    <div id="section-{{ loop.index }}"  style='padding-top:10px;' class="food-level collapse {%  if first_index==1 %} in {% endif %}">

									    	{% if main_menu_item.menu|length > 0 %}
									            {%  for food in main_menu_item.menu %}
									                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item">
									                        <span class="food-title">{{ food.name }}</span>
									                        <p class="food-description">{{ food.description }}</p>
									                        <span class="food-price">&euro;{{  food.price }}</span>

									                        {% if food.gluten_free %}
									                            <span class="optionvg"> G </span>
									                        {% endif %}

									                        {% if food.vegetarian %}
									                            <span class="optionvg"> V </span>
									                        {% endif %}

									                        {% if food.vegan %}
									                            <span class="optionvg-green"> G </span>
									                        {% endif %}
									                    </div>

									                    {% if loop.index is divisible by(2) %}
									                    	<div class="add">
									                    {% endif %}
									            {% endfor %}
									        {% else %}
									            Sorry No food item available at the moment, please try again later..
									        {% endif %}

									    </div>
									{% endfor %}

									<div style="clear:both"></div>
								{% elseif menu_section.get_field('case_number_one')=="Multiple"  and menu_section.get_field('case_number_two')=="Single" %}
									Multi Level Single Menu
								{% elseif menu_section.get_field('case_number_one')=="Multiple"  and menu_section.get_field('case_number_two')=="Grouped" %}

									<!--Multi Level Grouped Menu-->
									{% for main_menu_item in menu_section.get_field('multi_level_grouped') %}

									    <div class="food-section-title" data-toggle="collapse" data-target="#section-{{ loop.index }}">{{ main_menu_item.title }}


									    </div>

									    <div id="section-{{ loop.index }}"  style='padding-top:10px;' class="food-level collapse {%  if first_index==1 %} in {% endif %}">

									    	{% if main_menu_item.menu|length > 0 %}
									            {%  for food in main_menu_item.menu %}
									                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item">
									                    	<div class="col-lg-10 col-md-10 single">
									                        	<span class="food-title">{{ food.name }}</span>
									                        </div>
									                        <div class="col-lg-2 col-md-2 single">
										                        <span class="food-price">&euro;{{  food.price }}</span>
										                    </div>

										                    <div class="col-lg-12 nopadding">
								                        		<ul class="single-ul">
								                        			{% for item in food.list_item %}
								                        			    <li><span class="food-title">{{ item.name }}</span></li>
								                        			{% endfor %}

								                        		</ul>
										                    </div>

									                        {% if food.gluten_free %}
									                            <span class="optionvg"> G </span>
									                        {% endif %}

									                        {% if food.vegetarian %}
									                            <span class="optionvg"> V </span>
									                        {% endif %}

									                        {% if food.vegan %}
									                            <span class="optionvg-green"> G </span>
									                        {% endif %}

									                    </div>

									                    {% if loop.index is divisible by(2) %}
									                    	<div class="add">
									                    {% endif %}
									            {% endfor %}
									        {% else %}
									            Sorry No food item available at the moment, please try again later..
									        {% endif %}

									    </div>
									{% endfor %}

									<div style="clear:both"></div>


								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Basic" %}
									<!--Single Basic Item Menu-->
									{% if menu_section.get_field('single_level_basic')|length > 0 %}
							            {%  for food in menu_section.get_field('single_level_basic') %}
							                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item">
							                    	<div class="col-lg-10 col-md-10 single">
							                        	<span class="food-title">{{ food.name }}</span>
							                        </div>
							                        <div class="col-lg-2 col-md-2 single">
								                        <span class="food-price">&euro;{{  food.price }}</span>
								                    </div>

							                        {% if food.gluten_free %}
							                            <span class="optionvg"> G </span>
							                        {% endif %}

							                        {% if food.vegetarian %}
							                            <span class="optionvg"> V </span>
							                        {% endif %}

							                        {% if food.vegan %}
							                            <span class="optionvg-green"> G </span>
							                        {% endif %}

							                    </div>

							                    {% if loop.index is divisible by(2) %}
							                    	<div class="add">
							                    {% endif %}
							            {% endfor %}
							        {% else %}
							            Sorry No food item available at the moment, please try again later..
							        {% endif %}


									<div style="clear:both"></div>

								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Single" %}
									<!--Single Normal Item Menu---->
							    	{% if menu_section.get_field('single_level')|length > 0 %}
							            {%  for food in menu_section.get_field('single_level') %}
							                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item">
							                        <span class="food-title">{{ food.name }}</span>
							                        <p class="food-description">{{ food.description }}</p>
							                        <span class="food-price">&euro;{{  food.price }}</span>

							                        {% if food.gluten_free %}
							                            <span class="optionvg"> G </span>
							                        {% endif %}

							                        {% if food.vegetarian %}
							                            <span class="optionvg"> V </span>
							                        {% endif %}

							                        {% if food.vegan %}
							                            <span class="optionvg-green"> G </span>
							                        {% endif %}
							                    </div>

							                    {% if loop.index is divisible by(2) %}
							                    	<div class="add">
							                    {% endif %}
							            {% endfor %}
							        {% else %}
							            Sorry No food item available at the moment, please try again later..
							        {% endif %}

									<div style="clear:both"></div>

								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Grouped" %}


										<!--Single Grouped Item Menu-->
									{% if menu_section.get_field('single_level_grouped')|length > 0 %}
							            {%  for food in menu_section.get_field('single_level_grouped') %}
							                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item">
							                    	<div class="col-lg-10 col-md-10 single">
							                        	<span class="food-title">{{ food.name }}</span>
							                        </div>
							                        <div class="col-lg-2 col-md-2 single">
								                        <span class="food-price">&euro;{{  food.price }}</span>
								                    </div>

								                    <div class="col-lg-12 nopadding">
						                        		<ul class="single-ul">
						                        			{% for item in food.list_item %}
						                        			    <li><span class="food-title">{{ item.name }}</span></li>
						                        			{% endfor %}

						                        		</ul>
								                    </div>

							                        {% if food.gluten_free %}
							                            <span class="optionvg"> G </span>
							                        {% endif %}

							                        {% if food.vegetarian %}
							                            <span class="optionvg"> V </span>
							                        {% endif %}

							                        {% if food.vegan %}
							                            <span class="optionvg-green"> G </span>
							                        {% endif %}

							                    </div>

							                    {% if loop.index is divisible by(2) %}
							                    	<div class="add">
							                    {% endif %}
							            {% endfor %}
							        {% else %}
							            Sorry No food item available at the moment, please try again later..
							        {% endif %}


									<div style="clear:both"></div>

								{% else %}

									no menu item found
								{% endif %}
							</div>
						</div>
					</div>
				</li>
			{% endfor %}

		</ul>

		{% if post.get_field('mixcloud_url') %}
			<div class="mixcloud">
				{{ displaymixcloud( post.get_field('mixcloud_url') ) }}
			</div>
		{% endif %}


	</div><!-- /content-wrapper -->
	{% include 'templates/sidebar-clubs.twig'  with {'events': events } %}
</div>
</div>
{% endblock %}