{% extends "base.twig" %}

{% block banner %}
	{% include 'views/banner.twig' %}
{% endblock %}

{% block bookingForm %}
	<!-- Large modal -->
	<div class="modal fade restuarant-booking" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{ post.title }} Reservation</h4>
				</div>
				<div class="modal-body">
					{% if post.get_field('iframe_or_gravity') %}
						<iframe src="{{ post.get_field('iframe') }}" width="100%" height="100%" frameborder="0" style="height: 426px;padding: 0px;background: white;"></iframe>
					{% else %}
						{{ displaygform( post.get_field('reservation_form_id') ) }}
					{% endif %}
				</div>
			</div><!-- /.modal-content -->
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="container">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="post_content">
			{{ post.content }}
		</div>

		{% if post.get_field('image_showcase')|length > 0 %}

			<!--<div class="food-menu-images-circle">
				<ul>
					{% for image in post.get_field('image_showcase') %}
						<li><img src="{{ image.image }}"/></li>
					{% endfor %}
				</ul>
			</div>-->

			<div class="foodslider">
				{% for image in post.get_field('image_showcase') %}
					<img src="{{ image.image }}"/>
				{% endfor %}
			</div>

		{% endif %}

		{% if menu_listing %}
		<div class="food-menu-headline">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<span class="title">Menu</span>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<div class="pull-right">
					<span class="options pright30"><span class="label optionvg">G</span> Gluten Free</span>
					<span class="options pright30"><span class="label optionvg">V</span> Vegetarian</span>
					<span class="options pright30"><span class="label optionvg-green">V</span> Vegan</span>
				</div>
			</div>
		</div>
		{% endif %}

		<ul class="menu-sections">

			{% for menu_section in menu_listing %}

				{% set first_index = loop.index %}
				<li>
					<div class="list-box">
						<div class="menu-section-header {% if loop.index == 1 %} in {% endif %}" data-toggle="collapse" data-target="#{{ getstringslug(menu_section.get_field('section_title')) }}{{first_index}}">{{ menu_section.get_field('section_title') }}</div>
						<div id='{{ getstringslug(menu_section.get_field('section_title')) }}{{first_index}}' class="menu-content collapse {% if loop.index == 1 %} in {% endif %}">
							<div class="food">
								{% if menu_section.get_field('case_number_one')=="Multiple" and menu_section.get_field('case_number_two')=="Basic"%}

									{% for main_menu_item in menu_section.get_field('multi_level') %}

										<div class="food-section-title" data-toggle="collapse" data-target="#section-{{ loop.index }}{{first_index}}">{{ main_menu_item.title }}
										</div>

										<div id="section-{{ loop.index }}{{first_index}}"  style='padding-top:10px;' class="food-level collapse {%  if first_index==1 and loop.index==1 %} in {% endif %}">

											{% if main_menu_item.menu|length > 0 %}
												{%  for food in main_menu_item.menu %}
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item" data-match-height="food-item-{{first_index}}">
															<span class="food-title">{{ food.name }}</span>
															<p class="food-description">{{ food.description }}</p>
															<span class="food-price">&euro;{{  food.price }}</span>

															{% if food.gluten_free %}
																<span class="label optionvg"> G </span>
															{% endif %}

															{% if food.vegetarian %}
																<span class="label optionvg"> V </span>
															{% endif %}

															{% if food.vegan %}
																<span class="label optionvg-green"> V </span>
															{% endif %}
														</div>

														{% if loop.index == main_menu_item.menu|length %}
															<div style="clear:both"></div>
														{% endif %}

												{% endfor %}

											{% else %}
												Sorry No food item available at the moment, please try again later..
											{% endif %}

										</div>
									{% endfor %}

									<div style="clear:both"></div>
								{% elseif menu_section.get_field('case_number_one')=="Multiple" and menu_section.get_field('case_number_two')=="Single" %}


								{% elseif menu_section.get_field('case_number_one')=="Multiple" and menu_section.get_field('case_number_two')=="Grouped" %}

									<!--Multi Level Grouped Menu-->
									{% for main_menu_item in menu_section.get_field('multi_level_grouped') %}

										<div class="food-section-title" data-toggle="collapse" data-target="#section-{{ loop.index }}{{first_index}}">{{ main_menu_item.title }}

										</div>

										<div id="section-{{ loop.index }}{{first_index}}"  style='padding-top:10px;' class="food-level collapse {%  if first_index==1 %} in {% endif %}">

											{% if main_menu_item.menu|length > 0 %}
												{%  for food in main_menu_item.menu %}
														<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item" data-match-height="food-item-{{first_index}}">
															<div class="col-lg-10 col-md-10 single">
																<span class="food-title">{{ food.name }}</span>
															</div>
															<div class="col-lg-2 col-md-2 single">
																<span class="food-price">&euro;{{ food.price }}</span>
															</div>

															<div class="col-lg-12 nopadding">
																<ul class="single-ul">
																	{% for item in food.list_item %}
																		<li><span class="food-title">{{ item.name }}</span></li>
																	{% endfor %}
																</ul>
															</div>

															{% if food.gluten_free %}
																<span class="label optionvg"> G </span>
															{% endif %}

															{% if food.vegetarian %}
																<span class="label optionvg"> V </span>
															{% endif %}

															{% if food.vegan %}
																<span class="label optionvg-green"> V </span>
															{% endif %}

														</div>

														{% if loop.index is divisible by(2) %}
															<div class="add">
														{% endif %}
												{% endfor %}

												<div style="clear:both"></div>
											{% else %}
												Sorry No food item available at the moment, please try again later..
											{% endif %}

										</div>
									{% endfor %}

									<div style="clear:both"></div>


								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Basic" %}
									<!--Single Basic Item Menu-->
									{% if menu_section.get_field('single_level_basic')|length > 0 %}
										{%  for food in menu_section.get_field('single_level_basic') %}
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item" data-match-height="food-item-{{first_index}}">
													<div class="col-lg-10 col-md-10 single">
														<span class="food-title">{{ food.name }}</span>
													</div>
													<div class="col-lg-2 col-md-2 single">
														<span class="food-price">&euro;{{ food.price }}</span>
													</div>

													{% if food.gluten_free %}
														<span class="label optionvg"> G </span>
													{% endif %}

													{% if food.vegetarian %}
														<span class="label optionvg"> V </span>
													{% endif %}

													{% if food.vegan %}
														<span class="label optionvg-green"> V </span>
													{% endif %}

												</div>

												{% if loop.index is divisible by(2) %}
													<div class="add">
												{% endif %}
										{% endfor %}
									{% else %}
										Sorry No food item available at the moment, please try again later..
									{% endif %}

									<div style="clear:both"></div>

								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Single" %}
									<!-- Single Normal Item Menu -->
									{% if menu_section.get_field('single_level')|length > 0 %}
										{%  for food in menu_section.get_field('single_level') %}
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item " data-match-height="food-item-{{first_index}}">
													<span class="food-title">{{ food.name }}</span>
													<p class="food-description">{{ food.description }}</p>
													<span class="food-price">&euro;{{  food.price }}</span>

													{% if food.gluten_free %}
														<span class="label optionvg"> G </span>
													{% endif %}

													{% if food.vegetarian %}
														<span class="label optionvg"> V </span>
													{% endif %}

													{% if food.vegan %}
														<span class="label optionvg-green"> V </span>
													{% endif %}
												</div>

												{% if loop.index is divisible by(2) %}
													<div class="add">
												{% endif %}
										{% endfor %}
									{% else %}
										Sorry No food item available at the moment, please try again later..
									{% endif %}

									<div style="clear:both"></div>

								{% elseif menu_section.get_field('case_number_one')=="Single"  and menu_section.get_field('case_number_two')=="Grouped" %}

										<!--Single Grouped Item Menu-->
									{% if menu_section.get_field('single_level_grouped')|length > 0 %}
										{%  for food in menu_section.get_field('single_level_grouped') %}
												<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 food-item single-item" data-match-height="food-item-{{first_index}}">
													<div class="col-lg-10 col-md-10 single">
														<span class="food-title">{{ food.name }}</span>
													</div>
													<div class="col-lg-2 col-md-2 single">
														<span class="food-price">&euro;{{  food.price }}</span>
													</div>

													<div class="col-lg-12 nopadding">
														<ul class="single-ul">
															{% for item in food.list_item %}
																<li><span class="food-title">{{ item.name }}</span></li>
															{% endfor %}
														</ul>
													</div>

													{% if food.gluten_free %}
														<span class="label optionvg"> G </span>
													{% endif %}

													{% if food.vegetarian %}
														<span class="label optionvg"> V </span>
													{% endif %}

													{% if food.vegan %}
														<span class="label optionvg-green"> V </span>
													{% endif %}

												</div>

												{% if loop.index is divisible by(2) %}
													<div class="add">
												{% endif %}
										{% endfor %}
									{% else %}
										Sorry No food item available at the moment, please try again later..
									{% endif %}


									<div style="clear:both"></div>

								{% else %}
									no menu item found
								{% endif %}
							</div>
						</div>
					</div>
				</li>
			{% endfor %}

		</ul>

		{% if pdf_menu %}
			<div class="pdf-section">
				<a class="btn btn-black" href="{{pdf_menu}}">DOWNLOAD MENU (PDF)&nbsp;&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
			</div>
		{% endif %}

		{% set reviews = TimberPost(post.get_field('reviews')) %}
		{% set main_review = "" %}

		{% if reviews|length > 0 %}
			{% set len = reviews|length %}
			{% set position = random(len) %}
			{% for review in reviews %}
				{% if position==0 %}
					{% set position = 1 %}
				{% endif %}

				{% if loop.index == position %}
					{% set main_review = review %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if main_review %}
			<div class="review-headline">
				<div class="col-xs-6"><span class="title">Review</span></div>
				<div class="col-xs-6 text-right"><img src="{{theme.link}}/assets/images/{{main_review.source}}.png"></div>
			</div>

			<div class="item">
				<blockquote>
					<p>
						<br>
						{{main_review.content}}
						<br>
						<span class="reviewer">{{main_review.title}}</span>
					</p>
				</blockquote>
			</div>
		{% endif %}


		{% if people_list|length > 0 %}
			<div class="review-headline people-headline">
				<span class="title">Yamamori People</span>
			</div>

			<div class="people">
				{% set len = people_list|length %}
				{% set position = random(len) %}
				{% set main_person = "" %}
				{% for person in people_list %}
					{% if position==0 %}
						{% set position = 1 %}
					{% endif %}

					{% if loop.index == position %}
						{% set main_person = person %}
					{% endif %}
				{% endfor %}

				{% if main_person %}
					<div class="row">
						<div class="col-xs-8 col-sm-4 img-col">
							<img src="{{main_person.get_field('image')}}" />
						</div>
						<div class="col-xs-12 col-sm-8 text-col">
							<p class="name">{{main_person.get_field('name')}}</p>
							<p class="position text-uppercase">{{main_person.get_field('position')}}</p>
							<p>{{main_person.get_field('about')}}</p>
							<p><strong>Favourite Dish:</strong> {{main_person.get_field('favorite_meal')}}</p>
							<br>
						</div>
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div><!-- /content-wrapper -->
	{% include 'templates/sidebar.twig' %}
</div>
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('.foodslider').slick({
			dots: false,
			infinite: true,
			autoplay: true,
			speed: 500,
			slidesToShow: 1,
			fade: true,
			cssEase: 'linear'
		});
	</script>
{% endblock %}