{% extends "base.twig" %}


{% block banner %}
	{% include 'views/banner-single.twig' %}
{% endblock %}

{% block content %}
<div id="main-content-left">
    <div class="container-fluid single-page">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-ms-12 col-xs-12 overflow-cap">
                <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 cover-title">
                    <h1 class="h1">{{post.title}}</h1>
                    <p>
                        {# {{ post.get_preview(25, false , false) }} #}
                    </p>
                </div>

                <div class="post-content post-type-{{post.post_type}}" id="post-{{post.ID}}">
                    {{post.content}}
                </div>
            </div>

            {% include 'templates/sidebar-single.twig' %}

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
	<script>
		$(document).ready(function() {
			var referrer =  document.referrer;
			console.log('refferrer: ' + referrer);
		});

        var maHeight = $('#single-cap').height();

        $('.item-content').height(maHeight-130);

        // console.log("cuurent height: " +maHeight);

        $('.item-content').matchHeight();
	</script>
{% endblock %}