<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">

    <!--<ul class="social side">
        <li><a href="{{ social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="{{ social.twitter }}" target="_blank"><i class="fa fa-twitter"></i> </a></li>
        <li><a href="{{ social.instagram }}" target="_blank"><i class="fa fa-instagram"></i> </a></li>
        <li><a href="{{ social.youtube }}" target="_blank"><i class="fa fa-youtube"></i> </a></li>
        <li><a href="{{ social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
        <li><a href="{{ social.vimeo }}" target="_blank"><i class="fa fa-vimeo"></i> </a></li>
    </ul>-->

    <ul class="latest-side">
        <li>
            <div class="list-box twitter">
                <span class="header-item">Latest From <a href="https://twitter.com/yamamoridublin" target="_blank">Twitter</a> <a href="https://twitter.com/yamamoridublin" target="_blank"><i class="pull-right fa fa-twitter"></i></a></span>
                {{ singletwitter() }}

                <a class="handle" href="https://twitter.com/yamamoridublin" target="_blank">@YAMAMORIDUBLIN</a>
            </div>
        </li>
    </ul>

    <div class="side-box">
        <h3 class="title">Categories</h3>
        <ul class="latest-side">
             {% for item in cmenu.get_items  %}
                 <li class="blog">
                    <a href="{{item.get_link}}"> <span>{{item.title}} </span></a>
                 </li>
             {% endfor %}
        </ul>
    </div>

    <div class="side-box">
        <h3 class="title">Archives</h3>
        <ul class="latest-side">
            {% for item in garchives.items %}
                {% for child in item.children %}
                <li class="child"><a href="{{child.link}}">{{child.name}} {{item.name}}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    {% if post.get_field('booking') %}
        <a class="btn-book nomargin" data-toggle="modal" data-target=".restuarant-booking">Book Now</a>
    {% endif %}
</div>