<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <ul class="social side">
        {% for social in post.get_field('social_media') %}
            {% if social.facebook %}
                <li><a href="{{ social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if social.twitter %}
                <li><a href="{{ social.twitter }}" target="_blank"><i class="fa fa-twitter"></i> </a></li>
            {% endif %}

            {% if social.instagram %}
                <li><a href="{{ social.instagram }}" target="_blank"><i class="fa fa-instagram"></i> </a></li>
            {% endif %}

            {% if social.youtube %}
                <li><a href="{{ social.youtube }}" target="_blank"><i class="fa fa-youtube"></i> </a></li>
            {% endif %}

            {% if social.linkedin %}
                <li><a href="{{ social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
            {% endif %}

            {% if social.vimeo %}
                <li><a href="{{ social.vimeo }}" target="_blank"><i class="fa fa-vimeo"></i> </a></li>
            {% endif %}

            {% if social.tripadvisor %}
                <li><a href="{{ social.tripadvisor }}" target="_blank"><i class="fa fa-tripadvisor"></i> </a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul class="latest-side">
        <li>
            <div class="list-box twitter">
                <span class="header-item">Latest From <a href="https://twitter.com/yamamoridublin" target="_blank">Twitter</a> <a href="https://twitter.com/yamamoridublin" target="_blank"><i class="pull-right fa fa-twitter"></i></a></span>
                {{ singletwitter() }}

                <a class="handle" href="https://twitter.com/yamamoridublin" target="_blank">@YAMAMORIDUBLIN</a>
            </div>
        </li>

        {% for post in priority %}
            <li>
                <div class="list-box">
                    <span><a href="{{ post.link }}">{{ post.title }}</a></span>
                    <p>
                        {{ post.get_preview(15 ,false , false) }} <br/>
                         <a href="{{ post.link }}"> Read More..</a>
                    </p>
                </div>
            </li>
        {% endfor  %}

        {% for post in posts %}
        <li>
            <div class="list-box">
                <span><a href="{{ post.link }}">{{ post.title }}</a></span>
                <p>
                    {{ post.get_preview(15 ,false , false) }} <br/>
                     <a href="{{ post.link }}"> Read More..</a>
                </p>
            </div>
        </li>
        {% endfor  %}
    </ul>

    {% if post.get_field('reservation_form_id') %}
        <a class="btn-book nomargin" data-toggle="modal" data-target=".restuarant-booking">Book Now</a>
    {% endif %}
</div>