<div class="col-md-3 col-sm-12 col-xs-12">
    {% if events %}
    <div class="upcoming-events">
        <h2>Upcoming Events</h2>
        <ul class="events side">
            {% for post in events %}
                <li>
                    <div class="list-box">
                        <span>{{ post.get_field('ym_events_startdate') }} {{ post.get_field('event_time') }}</span>
                        <span class="title"><a href="{{ post.get_field('link') }}" target="_blank">{{ post.title}}</a></span>
                    </div>
                </li>
            {% endfor  %}
        </ul>
    </div>
    {% endif  %}

    <ul class="latest-side">
        <li>
            <div class="list-box twitter">
                <span class="header-item">Latest From <a href="https://twitter.com/yamamoridublin" target="_blank">Twitter</a></span>
                {{ singletwitter() }}

                <a class="handle" href="https://twitter.com/yamamoridublin" target="_blank">@YAMAMORIDUBLIN</a>
            </div>
        </li>
    </ul>

     <ul class="social side">
        {% for social in post.get_field('social_media') %}
            {% if social.facebook %}
                <li><a href="{{ social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if social.twitter %}
                <li><a href="{{ social.twitter }}" target="_blank"><i class="fa fa-twitter"></i> </a></li>
            {% endif %}

            {% if social.instagram %}
                <li><a href="{{ social.instagram }}" target="_blank"><i class="fa fa-instagram"></i> </a></li>
            {% endif %}

            {% if social.youtube %}
                <li><a href="{{ social.youtube }}" target="_blank"><i class="fa fa-youtube"></i> </a></li>
            {% endif %}

            {% if social.linkedin %}
                <li><a href="{{ social.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
            {% endif %}

            {% if social.vimeo %}
                <li><a href="{{ social.vimeo }}" target="_blank"><i class="fa fa-vimeo"></i> </a></li>
            {% endif %}

            {% if social.tripadvisor %}
                <li><a href="{{ social.tripadvisor }}" target="_blank"><i class="fa fa-tripadvisor"></i> </a></li>
            {% endif %}
        {% endfor %}
    </ul>

</div>