{% extends "base.twig" %}

{% block banner %}
	{% include 'views/banner-single.twig' %}
{% endblock %}

{% block content %}
<div id="main-content-left">
    <div class="container-fluid" >
        <div class="container">
            <div class="col-lg-8 col-md-8 col-ms-12 col-xs-12 overflow-cap colored">
                <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 cover-image">
                    {% if post.get_thumbnail %}
                        <img src="{{post.thumbnail.src}}" />
                    {% else %}
                        <img src="{{ site.theme.link }}/assets/images/post.jpg" />
                    {% endif %}
                </div>
                <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 cover-title">
                    <h1 class="h1">{{post.title}}</h1>
                    {# <span class="date">{{ post.post_date|date}}</span> #}
                    <time itemprop="datePublished" content="{{post.post_date}}"></time>
                    <p>
                        {{ post.get_field('sub_heading') }}
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 post-content-area">
                    <div class="post-content post-type-{{post.post_type}}" id="post-{{post.ID}}">
                        {{post.content}}
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 back-tag">
                    <section>
                        Tags:
                        {% for category in post.categories  %}
                            {{ category.name }}
                            {% if loop.index < categories|length %}
                                ,
                            {% endif %}
                        {% endfor %}

                        <a href="javascript:history.go(-1)"> Back </a>
                    </section>
                    <br/>
                </div>
            </div>

            {% include 'templates/sidebar-single.twig' %}

        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
	<script>
		$(document).ready(function() {
			var referrer =  document.referrer;
			// console.log('refferrer: ' + referrer);
		});

        var maHeight = $('#single-cap').height();

        $('.item-content').height(maHeight-130);

        // console.log("cuurent height: " +maHeight);

        $('.item-content').matchHeight();
	</script>
{% endblock %}

