{% for section in post.get_field('menu') %}
    {%  if section.category==type %}
    <div class="food-section-title" data-toggle="collapse" data-target="#section-{{ loop.index }}">{{ section.menu_section }}</div>
    <div id="section-{{ loop.index }}" class="food-level collapse {%  if type=="Lunch" and loop.index==1 %} in {% endif %}">
        {% if section.menu_items|length > 0 %}
            {%  for food in section.menu_items %}
                    {% if loop.index == 1 %}
                        <div class="row" style="padding-top: 5px;">
                    {% endif %}
                    <div class="col-lg-6 food-item">
                        <span class="food-title">{{ food.name }}</span>
                        <p class="food-description">{{ food.description }}</p>
                        <span class="food-price">&euro; {{  food.price }}</span>

                        {% if food.gluten%}
                            <span class="optionvg mright5"> G </span>
                        {% endif %}

                        {% if food.vegetarian %}
                            <span class="optionvg mright5"> V </span>
                        {% endif %}
                    </div>
                    {% if loop.index is divisible by(2) %}
                        </div>
                        <div class="row addtopp35">
                    {% endif %}

                    {% if loop.index == section.menu_items|length  %}
                        </div>
                    {% endif %}
            {% endfor %}
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
        {% else %}
            Sorry No food item available at the moment, please try again later..
        {% endif %}
    </div>
    {% endif %}
{% endfor %}