{% extends "tease.twig" %}

{% block content %}

    <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 cover-image">
        <a href="{{ post.link }}">
        {% if post.get_thumbnail %}
            <img src="{{post.thumbnail.src}}" />
        {% else %}
            <img src="{{ site.theme.link }}/assets/images/post.jpg" />
        {% endif %}
        </a>
    </div>
    <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12 cover-title">
        <h1 class="h1"><a href="{{ post.link }}">{{post.title}}</a></h1>
        {# <span class="date">{{ post.post_date|date}}</span> #}
        <time itemprop="datePublished" content="{{post.post_date}}"></time>
        <p>
            {{ post.get_preview(25, false , false) }}
        </p>
    </div>

    <div style="clear:both"></div>
{% endblock %}