
{% set cover_img  = "" %}

{% if post.get_field('cover_images')|length > 0 %}
    {% set len  = post.get_field('cover_images')|length %}
    {% set position  = random(len)  %}
    {%  for image in post.get_field('cover_images') %}

        {% if position==0 %}
            {% set position  = 1  %}
        {% endif %}

        {% if loop.index == position %}
            {% set cover_img  = image.image %}
        {% endif %}
    {% endfor %}
{% endif  %}



<header id="tops" class="header" {% if cover_img %} style="background-image: url('{{ cover_img }}')" {% else %} style="background-image: url('{{site.theme.link}}/assets/images/banner.jpg')" {% endif %}>

    <div class="panel-box" {% if post.get_field('panel_background_color') %} style="background-color: #{{ post.get_field('panel_background_color') }}" {% endif %}>
        <h1 class="jwelcome">ようこそ</h1>
        <h2 class="ewelcome">Welcome to {{ post.title }}</h2>
        <span> {{ post.get_field('address') }}</span>
        <span> <strong>Call us:</strong> <a href="tel:{{ post.get_field('phone') }}">{{ post.get_field('phone') }}</a></span>
         {% if post.get_field('email') %}
            <span> <strong>Email us:</strong> <a href="mailto:{{ post.get_field('email') }}">{{ post.get_field('email') }}</a></span>
        {% endif %}

        {% if post.get_field('hours') %}
            <span><strong>Opening Hours:</strong><br/>
            {% for hour in post.get_field('hours') %}
                {{ hour.hour_text }}<br/>
            {% endfor %}
            </span>
        {% endif %}

        {% if post.get_field('show_social_in_header') %}
        <ul class="social">
            {% for social in post.get_field('social_media') %}
                {% if social.facebook %}
                    <li><a href="{{ social.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if social.twitter %}
                    <li><a href="{{ social.twitter }}" target="_blank"><i class="fa fa-twitter"></i> </a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if post.get_field('reservation_form_id') %}
            <a class="btn-book" data-toggle="modal" data-target=".restuarant-booking" href="#">Book Now</a>
        {% endif %}
    </div>

</header>