{% set cover_img  = "" %}

{% if post.get_field('cover_images')|length > 0 %}
    {% set len  = post.get_field('cover_images')|length %}
    {% set position  = random(len)  %}
    {%  for image in post.get_field('cover_images') %}

        {% if position==0 %}
            {% set position  = 1  %}
        {% endif %}

        {% if loop.index == position %}
            {% set cover_img  = image.image %}
        {% endif %}
    {% endfor %}
{% endif  %}



<header id="tops" class="header archive" {% if cover_img %} style="background-image: url('{{ cover_img }}')" {% else %} style="background-image: url('{{site.theme.link}}/assets/images/banner.jpg')" {% endif %}>
</header>