{% set cover_img  = "" %}

{% if post.get_field('cover_images')|length > 0 %}
    {% set len  = post.get_field('cover_images')|length %}
    {% set position  = random(len)  %}
    {%  for image in post.get_field('cover_images') %}

        {% if position==0 %}
            {% set position  = 1  %}
        {% endif %}

        {% if loop.index == position %}
            {% set cover_img  = image.image %}
        {% endif %}
    {% endfor %}
{% endif  %}

<div class="header" {% if cover_img %} style="background-image: url('{{ cover_img }}')" {% else %} style="background-image: url('{{site.theme.link}}/assets/images/gateway.jpg')" {% endif %} >

    <div class="carousel-caption-center">
        <div class="heading">
            <div class="row welcome-text">

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 pull-right">
                        <h1 class="pull-right jwelcome">ようこそ</h1>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                        <h1 class="ewelcome">Hi! Which Yamamori are you looking for?</h1>
                </div>
            </div>

            <div class="row" id="stores">
                {% if options|length > 0 %}
                    {%  for branch in options %}

                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 store">
                            <div class="view">
                                <a href="{{ branch.link }}">
                                <span class="restaurant">{{ branch.heading }}</span>
                                <span class="restaurant white">{{ branch.sub_heading }}</span>
                                </a>
                            </div>

                            <div class="view-hover">
                                <span class="title black">{{ branch.heading }}</span>
                                <span class="title">{{ branch.sub_heading }}</span>
                                <br/>
                                <p>{{ branch.description }}</p>
                                <br/>
                                {% if branch.reservation_form_id %}
                                    <a class="btn-book" data-toggle="modal" data-target=".restuarant-booking-{{ loop.index }}">Book Now</a>
                                {% endif %}
                                {% if branch.link %}
                                    {% if branch.sub_heading=="Tengu" %}
                                        <a class="btn-book" href="{{ branch.link }}">Enter Site</a>
                                    {% else %}
                                        <a class="btn-book" href="{{ branch.link }}">Visit Site</a>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No Branch Created
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% for branch in options %}
    {% if branch.reservation_form_id %}
    <!-- Large modal -->
    <div class="modal fade restuarant-booking restuarant-booking-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ branch.heading }} {{ branch.sub_heading }} Reservation</h4>
              </div>
              <div class="modal-body">
                {% if branch.iframe_or_gravity %}
                    <iframe src="{{ branch.iframe }}" width="100%" height="100%" frameborder="0" style="height: 426px;padding: 0px;background: white;"></iframe>
                {% else %}
                    {{ displaygform( branch.reservation_form_id ) }}
                {% endif %}
              </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
    {% endif %}
{% endfor %}