<!-- FULLSCREEN MODAL CODE (.fullscreen) -->
<div class="modal fade fullscreen" id="menuModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color:#fff;">
            <div class="modal-header" style="border:0;">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  {% if post.name=="Yamamori Tengu"%}
                <a href="{{ post.link }}"><img class="logo tengu pull-left" src="{{ site.theme.link }}/assets/images/tengu_logo.png"/></a>
                  {% else %}
                    <a href="/"><img class="logo pull-left" alt="yamamori logo" src="{{ site.theme.link }}/assets/images/yamamori_logo.svg"/></a>
                  {% endif %}
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 addtopbottom26" >
                   <div id="nav-icon1" data-toggle="modal" data-target="#menuModal" class="pull-right open">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>

            </div>
            <div class="modal-body text-center">
                <ul style="list-style-type:none;">
                   {% for item in menu.get_items %}
                      <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                          {% if item.get_children %}
                              <ul class="nav-drop">
                                  {% for child in item.get_children %}
                                      <li class="nav-drop-item"><a href="{{child.get_link}}">{{child.title}}</a></li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                      </li>
                  {% endfor %}
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.fullscreen -->