<div id='navigation'>
    <div class="container-fluid">
        <div class="col-xs-9 col-md-9 col-lg-9 left-logo">
            {% if post.name=="Yamamori Tengu"%}
                <a href="{{ post.link }}"><img class="logo tengu" src="{{ site.theme.link }}/assets/images/tengu_logo.png"/></a>
            {% else %}
                <a href="/"><img class="logo" alt="yamamori logo" src="{{ site.theme.link }}/assets/images/yamamori_logo.svg"/></a>
            {% endif %}
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3 right-menu">
            <a href="javascript:void(0)" class="icon pull-right" >
              <div class="hamburger">
                <div class="menui top-menu"></div>
                <div class="menui mid-menu"></div>
                <div class="menui bottom-menu"></div>
              </div>
            </a>
        </div>
    </div>
</div>

<div class="mobilenav">
    <ul>
    {% for item in menu.get_items %}
    <li class="nav-item {{item.classes | join(' ')}}">
        <a class="nav-link" href="{{item.get_link}}">{{item.title}}</a>
        {% if item.get_children %}
            <ul class="nav nav-drop">
            {% for child in item.get_children %}
                <li class="nav-drop-item">
                    <a class="nav-link" href="{{child.get_link}}">{{child.title}}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>
